@model AlumnoModel 
@{
    ViewData["Title"] = "pagina de Alumnos";
}




<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <br />
    <b> Numero de control</b> @Model.NC
    <br />
    <b> Nombre</b> @Model.Nombre
    <br />
    <b> Apellido Paterno</b> @Model.App
    <br />
    <b> Apellido Materno</b> @Model.Apm
    <br />
    <b> Carrera</b> @Model.Carrera
    <br />
    <b> Fecha Ingreso</b> @Model.FechaIngreso
    <br />
    <b> Promedio</b> @Model.Promedio
    <br />


    <br />
    <b> Numero de contro</b> @Model.NCB
    <br />
    <b> Nombre</b> @Model.NombreB
    <br />
    <b> Apellido Paterno</b> @Model.AppB
    <br />
    <b> Apellido Materno</b> @Model.ApmB
    <br />
    <b> Carrera</b> @Model.CarreraB
    <br />
    <b> Fecha Ingreso</b> @Model.FechaIngresoB
    <br />
    <b> Promedio</b> @Model.PromedioB
    <br />



    <br />
    <b> Numero de control</b> @Model.NCC
    <br />
    <b> Nombre</b> @Model.NombreC
    <br />
    <b> Apellido Paterno</b> @Model.AppC
    <br />
    <b> Apellido Materno</b> @Model.ApmC
    <br />
    <b> Carrera</b> @Model.CarreraC
    <br />
    <b> Fecha Ingreso</b> @Model.FechaIngresoC
    <br />
    <b> Promedio</b> @Model.PromedioC
    <br />


</div>
